html body {
  background: url(../img/bg.png) #7f8038 no-repeat center top;
  font-family: Myriad Pro, Open Sans, sans-serif; }
  html body #main-wrap {
    background: url(../img/main-bg.png);
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    position: relative;
    width: 1100px; }
    html body #main-wrap .container#routing {
      margin-bottom: 1px; }
      html body #main-wrap .container#routing h6 {
        color: #003366;
        line-height: 50px;
        margin: 0;
        text-align: center; }
      html body #main-wrap .container#routing .contact {
        border-bottom: 1px solid #4a4e40;
        padding-left: 20px;
        position: absolute;
        right: 0;
        top: 0;
        width: 236px; }
        html body #main-wrap .container#routing .contact a {
          color: #003366;
          font-size: 12px;
          line-height: 50px;
          margin-right: 1.66667em; }
          html body #main-wrap .container#routing .contact a:hover {
            text-decoration: none; }
          html body #main-wrap .container#routing .contact a.sign-in {
            color: #792154; }
    html body #main-wrap .container#nav .navbar-default {
      background-color: transparent;
      border: 0;
      margin: 0; }
      html body #main-wrap .container#nav .navbar-default .navbar-header .navbar-brand {
        height: auto;
        left: 0;
        padding: 0 0 0 35px;
        position: absolute;
        top: -10px; }
      html body #main-wrap .container#nav .navbar-default .navbar-collapse ul {
        padding-right: 20px; }
        html body #main-wrap .container#nav .navbar-default .navbar-collapse ul li {
          text-transform: uppercase; }
          html body #main-wrap .container#nav .navbar-default .navbar-collapse ul li.active a {
            background: transparent; }
          html body #main-wrap .container#nav .navbar-default .navbar-collapse ul li a {
            background: transparent;
            color: #792154;
            font-size: 14px;
            font-weight: 600;
            padding: 2em 1.21429em 1.42857em 1.21429em;
            -webkit-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out; }
            html body #main-wrap .container#nav .navbar-default .navbar-collapse ul li a:hover {
              background: #e6e6e6; }
    html body #main-wrap .container#banner {
      margin-bottom: 35px; }
      html body #main-wrap .container#banner .col-md-4 {
        margin-top: 44px;
        padding: 0 0 0 35px; }
        html body #main-wrap .container#banner .col-md-4 .form {
          background: #e2e6e0;
          padding-top: 8px; }
          html body #main-wrap .container#banner .col-md-4 .form .container-fluid {
            padding: 0 25px; }
            html body #main-wrap .container#banner .col-md-4 .form .container-fluid.bottom {
              border-top: 1px solid #b7c4c9;
              height: 58px; }
            html body #main-wrap .container#banner .col-md-4 .form .container-fluid h3 {
              color: #792154;
              font-size: 34px;
              font-weight: 600; }
            html body #main-wrap .container#banner .col-md-4 .form .container-fluid a {
              color: #003366; }
              html body #main-wrap .container#banner .col-md-4 .form .container-fluid a:hover {
                text-decoration: none; }
              html body #main-wrap .container#banner .col-md-4 .form .container-fluid a.forgot-password {
                display: inline-block;
                float: left;
                line-height: 1em;
                margin-top: 4px;
                width: 80px; }
              html body #main-wrap .container#banner .col-md-4 .form .container-fluid a.button {
                background: #cdd5d4;
                display: block;
                font-size: 12px;
                height: 23px;
                line-height: 1em;
                padding: 6px 0 6px 14px;
                position: absolute;
                right: 0;
                -webkit-transition: background 0.3s ease-in-out;
                transition: background 0.3s ease-in-out;
                width: 106px; }
                html body #main-wrap .container#banner .col-md-4 .form .container-fluid a.button:hover {
                  background: #cacaca; }
                html body #main-wrap .container#banner .col-md-4 .form .container-fluid a.button.learn-more {
                  bottom: 30px; }
                html body #main-wrap .container#banner .col-md-4 .form .container-fluid a.button.demo {
                  bottom: 1px; }
            html body #main-wrap .container#banner .col-md-4 .form .container-fluid label, html body #main-wrap .container#banner .col-md-4 .form .container-fluid input[type="text"] {
              display: block; }
            html body #main-wrap .container#banner .col-md-4 .form .container-fluid label {
              color: #003366;
              font-size: 14px;
              font-weight: 400;
              margin: 0; }
            html body #main-wrap .container#banner .col-md-4 .form .container-fluid input[type="text"] {
              border-radius: none;
              margin-bottom: 15px; }
            html body #main-wrap .container#banner .col-md-4 .form .container-fluid input[type="submit"] {
              background: url(../img/login-bg.png);
              border: 1px solid #dae1eb;
              color: #792154;
              float: left;
              font-size: 13px;
              font-weight: 700;
              height: 30px;
              line-height: 2em;
              margin: 0 9px 25px 0;
              opacity: 0.8;
              filter: alpha(opacity=80);
              text-shadow: 1px 1px #fff;
              -webkit-transition: opacity 0.3s ease-in-out;
              transition: opacity 0.3s ease-in-out;
              -webkit-backface-visibility: hidden;
              width: 106px; }
              html body #main-wrap .container#banner .col-md-4 .form .container-fluid input[type="submit"]:hover {
                opacity: 1;
                filter: alpha(opacity=100); }
            html body #main-wrap .container#banner .col-md-4 .form .container-fluid ul {
              margin: 0;
              padding: 10px 0 0 0; }
              html body #main-wrap .container#banner .col-md-4 .form .container-fluid ul li {
                font-size: 12px;
                line-height: 1em;
                list-style: none;
                margin: 0;
                padding: 0; }
      html body #main-wrap .container#banner .col-md-8 {
        padding: 0; }
        html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide {
          overflow: hidden; }
          html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide img {
            width: 100%; }
            html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide img.corner-top {
              left: 0;
              position: absolute;
              top: -1px;
              width: auto; }
              html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide img.corner-top.hidden-md {
                left: 0; }
            html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide img.corner-bottom {
              position: absolute;
              right: 0;
              bottom: -1px;
              width: auto; }
              html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide img.corner-bottom.hidden-md {
                right: -1px; }
          html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide .caption {
            background: rgba(0, 51, 102, 0.5);
            bottom: 0;
            color: #fff;
            left: 0;
            padding: 20px 20px 10px 20px;
            position: absolute;
            width: 310px; }
            html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide .caption h4 {
              font-size: 34px;
              margin: 0; }
            html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide .caption p {
              margin: 0; }
            html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide .caption a {
              color: #fff;
              float: right; }
    html body #main-wrap .container#inpage-banner {
      overflow: hidden;
      padding: 0 0 0 35px;
      position: relative; }
      html body #main-wrap .container#inpage-banner img {
        width: 100%; }
        html body #main-wrap .container#inpage-banner img.corner-top {
          left: 35px;
          position: absolute;
          top: -1px;
          width: auto; }
        html body #main-wrap .container#inpage-banner img.corner-bottom {
          position: absolute;
          right: 0;
          bottom: -1px;
          width: auto; }
    html body #main-wrap .container#content {
      padding-right: 0; }
      html body #main-wrap .container#content .col-sm-8 {
        padding-left: 20px; }
        html body #main-wrap .container#content .col-sm-8 h2 {
          color: #792154;
          font-size: 34px;
          font-weight: 700;
          margin: 1.17647em 0 0.55882em 0; }
        html body #main-wrap .container#content .col-sm-8 h3 {
          color: #003366;
          font-size: 21px;
          font-weight: 600;
          margin: 0 0 0.8em 0; }
        html body #main-wrap .container#content .col-sm-8 p {
          margin: 0 0 2.30769em 0; }
        html body #main-wrap .container#content .col-sm-8 p, html body #main-wrap .container#content .col-sm-8 li, html body #main-wrap .container#content .col-sm-8 a, html body #main-wrap .container#content .col-sm-8 span {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13px; }
        html body #main-wrap .container#content .col-sm-8 #tabs {
          background: #7993a8;
          -webkit-box-sizing: initial;
          box-sizing: initial;
          font-family: Arial, Helvetica, sans-serif;
          margin: 0 0 40px 0;
          padding: 15px;
          width: 617px; }
          html body #main-wrap .container#content .col-sm-8 #tabs ul {
            margin: 0;
            padding: 0; }
            html body #main-wrap .container#content .col-sm-8 #tabs ul li {
              font-size: 13px;
              list-style: none;
              text-transform: uppercase; }
              html body #main-wrap .container#content .col-sm-8 #tabs ul li a {
                background: #e4e9ee;
                color: #7993a8;
                line-height: 1em;
                padding: 0.84615em 2.69231em;
                -webkit-transition: background 0.3s ease-in-out;
                transition: background 0.3s ease-in-out; }
                html body #main-wrap .container#content .col-sm-8 #tabs ul li a:hover {
                  background: #dae0e6; }
                html body #main-wrap .container#content .col-sm-8 #tabs ul li a.tabulous_active {
                  color: #000 !important; }
          html body #main-wrap .container#content .col-sm-8 #tabs #tabs_container {
            -webkit-box-sizing: initial;
            box-sizing: initial;
            padding: 40px 20px; }
      html body #main-wrap .container#content .col-sm-4 {
        padding: 63px 0 0 24px; }
        html body #main-wrap .container#content .col-sm-4 .sidebar-nav {
          border-bottom: 1px solid #c9d1d1;
          margin-bottom: 30px;
          padding-bottom: 10px; }
          html body #main-wrap .container#content .col-sm-4 .sidebar-nav ul {
            background: #e2e5e0;
            margin: 0;
            padding: 0;
            width: 215px; }
            html body #main-wrap .container#content .col-sm-4 .sidebar-nav ul li {
              list-style: none;
              margin: 0;
              padding: 0.5em 0 0 0; }
              html body #main-wrap .container#content .col-sm-4 .sidebar-nav ul li a {
                background: #ced6d9;
                color: #003366;
                display: block;
                font-size: 16px;
                margin: 0;
                padding: 0.5em;
                text-align: left;
                -webkit-transition: background 0.3s ease-in-out;
                transition: background 0.3s ease-in-out; }
                html body #main-wrap .container#content .col-sm-4 .sidebar-nav ul li a:hover {
                  background: #c5cdd0;
                  text-decoration: none; }
        html body #main-wrap .container#content .col-sm-4 a {
          background: #792154;
          color: #fff;
          display: block;
          font-size: 21px;
          margin-bottom: 25px;
          padding: 0.14286em 0;
          text-align: center;
          -webkit-transition: background 0.3s ease-in-out;
          transition: background 0.3s ease-in-out; }
          html body #main-wrap .container#content .col-sm-4 a:hover {
            background: #681645;
            text-decoration: none; }
      html body #main-wrap .container#content .row {
        padding-left: 15px; }
        html body #main-wrap .container#content .row .col-sm-6 {
          margin: 0 25px 20px 0;
          padding: 0;
          width: 311px; }
          html body #main-wrap .container#content .row .col-sm-6 h3 {
            background: #944d75;
            color: #fff;
            font-size: 21px;
            font-weight: 400;
            margin: 0;
            padding: 10px 17px; }
          html body #main-wrap .container#content .row .col-sm-6 .content {
            background: #fff;
            height: 190px;
            padding: 22px 17px 12px 17px; }
            html body #main-wrap .container#content .row .col-sm-6 .content p {
              margin-bottom: 1em; }
            html body #main-wrap .container#content .row .col-sm-6 .content ul {
              margin: 0;
              padding-left: 15px; }
              html body #main-wrap .container#content .row .col-sm-6 .content ul li {
                margin-bottom: 0.8em; }
    html body #main-wrap .container#services {
      margin-bottom: 65px; }
      html body #main-wrap .container#services .row.first-row .col-sm-4 {
        border-right: 1px solid #e5e9f2;
        height: 150px; }
        html body #main-wrap .container#services .row.first-row .col-sm-4.last {
          border-right: 0; }
      html body #main-wrap .container#services .row.second-row .col-sm-4 {
        border-right: 1px solid #fefcf5;
        height: 185px;
        padding-top: 35px; }
        html body #main-wrap .container#services .row.second-row .col-sm-4.last {
          border-right: 0; }
      html body #main-wrap .container#services .row .col-sm-4 {
        padding: 0 25px 0 35px;
        width: 309px; }
        html body #main-wrap .container#services .row .col-sm-4 h4 {
          color: #003366;
          font-size: 21px;
          font-weight: 600; }
        html body #main-wrap .container#services .row .col-sm-4 p {
          color: #445978;
          font-size: 13px; }
        html body #main-wrap .container#services .row .col-sm-4 a {
          bottom: 5px;
          left: 35px;
          position: absolute; }
          html body #main-wrap .container#services .row .col-sm-4 a img {
            opacity: 0.8;
            filter: alpha(opacity=80);
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            -webkit-backface-visibility: hidden; }
          html body #main-wrap .container#services .row .col-sm-4 a:hover img {
            opacity: 1;
            filter: alpha(opacity=100); }
    html body #main-wrap .container#footer {
      font-family: Arial, Helvetica, sans-serif; }
      html body #main-wrap .container#footer .row .col-md-2 .row {
        margin-left: 0; }
        html body #main-wrap .container#footer .row .col-md-2 .row .container-fluid.copyright {
          background: #7993a8;
          color: #fff;
          height: 202px;
          margin-top: 20px;
          padding-top: 20px; }
          html body #main-wrap .container#footer .row .col-md-2 .row .container-fluid.copyright h6 {
            font-weight: 400;
            line-height: 1.8em; }
        html body #main-wrap .container#footer .row .col-md-2 .row .container-fluid img {
          margin-top: 8px;
          margin-bottom: 15px; }
          html body #main-wrap .container#footer .row .col-md-2 .row .container-fluid img.fdic {
            margin-right: 15px; }
        html body #main-wrap .container#footer .row .col-md-2 .row .container-fluid a {
          color: #003366;
          font-family: Myriad Pro, Open Sans, sans-serif;
          line-height: 1.3em; }
          html body #main-wrap .container#footer .row .col-md-2 .row .container-fluid a:hover {
            text-decoration: none; }
      html body #main-wrap .container#footer .row .col-md-10 {
        background: #792154;
        padding-bottom: 40px; }
        html body #main-wrap .container#footer .row .col-md-10 ul {
          margin: 0;
          padding: 0; }
          html body #main-wrap .container#footer .row .col-md-10 ul.skipnav {
            margin-bottom: 29px;
            padding-left: 15px; }
            html body #main-wrap .container#footer .row .col-md-10 ul.skipnav li {
              border-left: 1px solid #873c6a;
              float: left;
              line-height: 1em; }
              html body #main-wrap .container#footer .row .col-md-10 ul.skipnav li a {
                background-color: #792154;
                background-position: 10px bottom;
                background-repeat: no-repeat;
                color: #bc90aa;
                display: inline-block;
                font-size: 12px;
                padding: 36px 45px 0 31px;
                -webkit-transition: background-color 0.3s ease-in-out;
                transition: background-color 0.3s ease-in-out; }
                html body #main-wrap .container#footer .row .col-md-10 ul.skipnav li a:hover {
                  background-color: #6f1a4b;
                  text-decoration: none; }
                html body #main-wrap .container#footer .row .col-md-10 ul.skipnav li a.home {
                  background-image: url(../img/skipnav-home.png); }
                html body #main-wrap .container#footer .row .col-md-10 ul.skipnav li a.sitemap {
                  background-image: url(../img/skipnav-sitemap.png); }
                html body #main-wrap .container#footer .row .col-md-10 ul.skipnav li a.contact {
                  background-image: url(../img/skipnav-contact.png);
                  padding-right: 35px; }
          html body #main-wrap .container#footer .row .col-md-10 ul li {
            font-size: 11px;
            list-style: none;
            margin-bottom: 10px; }
            html body #main-wrap .container#footer .row .col-md-10 ul li a {
              color: #b4c8d2; }
              html body #main-wrap .container#footer .row .col-md-10 ul li a:hover {
                text-decoration: none; }
        html body #main-wrap .container#footer .row .col-md-10 a.back-to-top {
          position: absolute;
          right: 20px;
          top: 20px; }
          html body #main-wrap .container#footer .row .col-md-10 a.back-to-top img {
            opacity: 0.8;
            filter: alpha(opacity=80);
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            -webkit-backface-visibility: hidden; }
            html body #main-wrap .container#footer .row .col-md-10 a.back-to-top img:hover {
              opacity: 1;
              filter: alpha(opacity=100); }
        html body #main-wrap .container#footer .row .col-md-10 h5 {
          font-family: Myriad Pro, Open Sans, sans-serif;
          font-size: 16px;
          margin: 28px 0 20px 0; }
          html body #main-wrap .container#footer .row .col-md-10 h5 a {
            color: #fff; }
            html body #main-wrap .container#footer .row .col-md-10 h5 a:hover {
              text-decoration: none; }
      html body #main-wrap .container#footer .row .col-xs-12 {
        padding: 0 0 15px 0;
        text-align: center; }
        html body #main-wrap .container#footer .row .col-xs-12 h6 {
          margin: 0;
          padding: 1em 15px; }
        html body #main-wrap .container#footer .row .col-xs-12 img {
          margin-right: 2em; }
        html body #main-wrap .container#footer .row .col-xs-12 a {
          color: #003366;
          font-family: Myriad Pro, Open Sans, sans-serif;
          line-height: 1.3em;
          margin-right: 2em; }
          html body #main-wrap .container#footer .row .col-xs-12 a:hover {
            text-decoration: none; }

@media (max-width: 1100px) {
  html body #main-wrap {
    width: 100%; } }

@media (max-width: 1200px) {
  html body #main-wrap .container#nav .navbar-default .navbar-header .navbar-brand {
    padding-left: 0;
    position: static; }
  html body #main-wrap .container#banner .col-md-4 {
    padding-left: 0; }
    html body #main-wrap .container#banner .col-md-4 .form {
      padding: 0 15px; }
      html body #main-wrap .container#banner .col-md-4 .form .container-fluid {
        padding: 0 15px; }
        html body #main-wrap .container#banner .col-md-4 .form .container-fluid input[type="submit"] {
          margin-bottom: 19px; }
  html body #main-wrap .container#banner .col-md-8 {
    padding: 0; }
    html body #main-wrap .container#banner .col-md-8 .row {
      margin: 0; }
      html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide .caption {
        width: 323px; }
  html body #main-wrap .container#inpage-banner {
    padding-left: 15px; }
    html body #main-wrap .container#inpage-banner img.corner-top {
      left: 15px; }
  html body #main-wrap .container#services .row .col-sm-4 {
    width: 323px; } }

@media (max-width: 992px) {
  html body {
    background: #fff; }
    html body #main-wrap .container#routing {
      position: relative; }
      html body #main-wrap .container#routing h6 {
        text-align: left; }
      html body #main-wrap .container#routing .contact {
        right: 15px;
        width: auto; }
    html body #main-wrap .container#nav .navbar-default .navbar-header .navbar-brand img {
      width: 200px; }
    html body #main-wrap .container#nav .navbar-default .navbar-collapse ul {
      padding-right: 0; }
    html body #main-wrap .container#banner .col-md-4 {
      margin-bottom: 25px;
      padding: 0 15px; }
      html body #main-wrap .container#banner .col-md-4 .form .container-fluid a.button {
        right: 15px; }
    html body #main-wrap .container#banner .col-md-8 {
      padding: 0 15px; }
      html body #main-wrap .container#banner .col-md-8 .row {
        margin: 0 -15px;
        padding: 0 15px; }
        html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide {
          width: 100%; }
    html body #main-wrap .container#inpage-banner {
      padding-right: 15px; }
      html body #main-wrap .container#inpage-banner img.corner-bottom {
        right: 15px; }
    html body #main-wrap .container#content {
      padding-right: 15px; }
      html body #main-wrap .container#content .col-sm-8 {
        padding: 0; }
        html body #main-wrap .container#content .col-sm-8 #tabs {
          width: 450px; }
          html body #main-wrap .container#content .col-sm-8 #tabs ul li a {
            padding: 0.84615em 1.5em; }
      html body #main-wrap .container#content .col-sm-4 .sidebar-nav ul {
        width: auto; }
      html body #main-wrap .container#content .row .col-sm-6 {
        margin: 0 0 15px 0;
        padding: 0 15px 0 0;
        width: 50%; }
        html body #main-wrap .container#content .row .col-sm-6 .content {
          border-bottom: 1px solid #ddd;
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          height: 220px; }
    html body #main-wrap .container#services .row .col-sm-4 {
      padding: 0 15px;
      width: 33.33333%; }
    html body #main-wrap .container#footer {
      width: 100%; }
      html body #main-wrap .container#footer .col-md-10 {
        margin: 0 auto; }
        html body #main-wrap .container#footer .col-md-10 .skipnav, html body #main-wrap .container#footer .col-md-10 .row {
          margin: 0 auto;
          width: 750px; } }

@media (max-width: 768px) {
  html body #main-wrap .container#routing {
    margin-bottom: 15px;
    padding: 10px 0; }
    html body #main-wrap .container#routing h6 {
      font-size: 14px;
      line-height: 2em;
      text-align: center; }
    html body #main-wrap .container#routing .contact {
      position: static;
      text-align: center; }
      html body #main-wrap .container#routing .contact a {
        font-size: 14px;
        line-height: 2em; }
  html body #main-wrap .container#nav .navbar-default .navbar-header .navbar-brand img {
    height: 50px;
    width: auto; }
  html body #main-wrap .container#nav .navbar-default .navbar-collapse {
    border: 0; }
    html body #main-wrap .container#nav .navbar-default .navbar-collapse ul li a {
      padding: 10px 15px; }
  html body #main-wrap .container#banner {
    margin-bottom: 10px; }
    html body #main-wrap .container#banner .col-md-4 {
      margin-top: 25px; }
    html body #main-wrap .container#banner .col-md-8 .row .cycle-slideshow .slide .caption {
      position: static;
      width: 100%; }
  html body #main-wrap .container#inpage-banner {
    margin-top: 25px; }
  html body #main-wrap .container#content .row {
    padding-right: 15px; }
    html body #main-wrap .container#content .row .col-sm-6 {
      padding: 0;
      width: auto; }
      html body #main-wrap .container#content .row .col-sm-6 .content {
        height: auto; }
  html body #main-wrap .container#content .col-sm-8 #tabs {
    width: auto; }
    html body #main-wrap .container#content .col-sm-8 #tabs ul li a {
      padding: 0.84615em 1em; }
  html body #main-wrap .container#content .col-sm-4 {
    padding: 0;
    text-align: center; }
    html body #main-wrap .container#content .col-sm-4 a {
      display: inline-block;
      padding: 0.14286em 1.5em; }
  html body #main-wrap .container#services .row .col-sm-4 {
    border-bottom: 1px solid #e5e9f2;
    border-right: none !important;
    float: none;
    margin: 0 auto;
    height: auto !important;
    padding: 25px 15px !important;
    width: 95%; }
    html body #main-wrap .container#services .row .col-sm-4 a {
      position: static; }
  html body #main-wrap .container#footer {
    text-align: center; }
    html body #main-wrap .container#footer .row .col-md-10 {
      padding-bottom: 15px; }
      html body #main-wrap .container#footer .row .col-md-10 .row, html body #main-wrap .container#footer .row .col-md-10 .skipnav {
        width: auto; }
      html body #main-wrap .container#footer .row .col-md-10 ul {
        margin-bottom: 25px; }
        html body #main-wrap .container#footer .row .col-md-10 ul li {
          font-size: 12px; }
        html body #main-wrap .container#footer .row .col-md-10 ul.skipnav {
          display: block;
          margin-bottom: 10px;
          text-align: center; }
          html body #main-wrap .container#footer .row .col-md-10 ul.skipnav li {
            display: inline-block;
            float: none; }
            html body #main-wrap .container#footer .row .col-md-10 ul.skipnav li a {
              background: none !important;
              font-size: 13px;
              padding: 25px 10px 0 10px; }
              html body #main-wrap .container#footer .row .col-md-10 ul.skipnav li a.contact {
                border-right: 1px solid #873c6a;
                padding-right: 10px; }
      html body #main-wrap .container#footer .row .col-md-10 a.back-to-top {
        display: inline-block;
        margin-bottom: 20px;
        position: static; }
      html body #main-wrap .container#footer .row .col-md-10 h5 {
        border-top: 1px solid #873c6a;
        margin-top: 0;
        padding-top: 25px; } }

@media (max-width: 480px) {
  html body #main-wrap .container#content .col-sm-4 .sidebar-nav ul li a {
    text-align: center; }
  html body #main-wrap .container#content .col-sm-4 a {
    display: block; } }
