@import "bootstrap/_variables.scss";
@import "bootstrap/_mixins.scss";

$myriad: Myriad Pro, Open Sans, sans-serif;

html {
	body {
		background: url(../img/bg.png) #7f8038 no-repeat center top;
		font-family: $myriad;
		#main-wrap {
			background: url(../img/main-bg.png);
			background: rgba(255,255,255,.9);
			margin: 0 auto;
			position: relative;
			width: 1100px;
			.container {
				&#routing {
					margin-bottom: 1px;
					h6 {
						color: #003366;
						line-height: 50px;
						margin: 0;
						text-align: center;
					}
					.contact {
						border-bottom: 1px solid #4a4e40;
						padding-left: 20px;
						position: absolute;
						right: 0;
						top: 0;
						width: 236px;
						a {
							color: #003366;
							font-size: 12px;
							line-height: 50px;
							margin-right: 1.66666667em;
							&:hover {
								text-decoration: none;
							}
							&.sign-in {
								color: #792154;
							}
						}
					}
				}
				&#nav {
					.navbar-default {
						background-color: transparent;
						border: 0;
						margin: 0;
						.navbar-header {
							.navbar-brand {
								height: auto;
								left: 0;
								padding: 0 0 0 35px;
								position: absolute;
								top: -10px;
							}
						}
						.navbar-collapse {
							ul {
								padding-right: 20px;
								li {
									text-transform: uppercase;
									&.active {
										a {
											background: transparent;
										}
									}
									a {
										background: transparent;
										color: #792154;
										font-size: 14px;
										font-weight: 600;
										padding: 2em 1.21428571em 1.42857143em 1.21428571em;
										@include transition(background .3s ease-in-out);
										&:hover {
											background: #e6e6e6;
										}
									}
								}
							}
						}
					}
				}
				&#banner {
					margin-bottom: 35px;
					.col-md-4 {
						margin-top: 44px;
						padding: 0 0 0 35px;
						.form {
							background: #e2e6e0;
							padding-top: 8px;
							.container-fluid {
								padding: 0 25px;
								&.bottom {
									border-top: 1px solid #b7c4c9;
									height: 58px;
								}
								h3 {
									color: #792154;
									font-size: 34px;
									font-weight: 600;
								}
								a {
									color: #003366;
									&:hover {
										text-decoration: none;
									}
									&.forgot-password {
										display: inline-block;
										float: left;
										line-height: 1em;
										margin-top: 4px;
										width: 80px;
									}
									&.button {
										background: #cdd5d4;
										display: block;
										font-size: 12px;
										height: 23px;
										line-height: 1em;
										padding: 6px 0 6px 14px;
										position: absolute;
										right: 0;
										@include transition(background .3s ease-in-out);
										width: 106px;
										&:hover {
											background: #cacaca;
										}
										&.learn-more {
											bottom: 30px;
										}
										&.demo {
											bottom: 1px;
										}
									}
								}
								label, input[type="text"] {
									display: block;
								}
								label {
									color: #003366;
									font-size: 14px;
									font-weight: 400;
									margin: 0;
								}
								input {
									&[type="text"] {
										border-radius: none;
										margin-bottom: 15px;
									}
									&[type="submit"] {
										background: url(../img/login-bg.png);
										border: 1px solid #dae1eb;
										color: #792154;
										float: left;
										font-size: 13px;
										font-weight: 700;
										height: 30px;
										line-height: 2em;
										margin: 0 9px 25px 0;
										@include opacity(.8);
										text-shadow: 1px 1px #fff;
										@include transition(opacity .3s ease-in-out);
										-webkit-backface-visibility: hidden;
										width: 106px;
										&:hover {
											@include opacity(1);
										}
									}
								}
								ul {
									margin: 0;
									padding: 10px 0 0 0;
									li {
										font-size: 12px;
										line-height: 1em;
										list-style: none;
										margin: 0;
										padding: 0;
									}
								}
							}
						}
					}
					.col-md-8 {
						padding: 0;
						.row {
							.cycle-slideshow {
								.slide {
									overflow: hidden;
									img {
										width: 100%;
										&.corner-top {
											left: 0;
											position: absolute;
											top: -1px;
											width: auto;
											&.hidden-md {
												left: 0;
											}
										}
										&.corner-bottom {
											position: absolute;
											right: 0;
											bottom: -1px;
											width: auto;
											&.hidden-md {
												right: -1px;
											}
										}
									}
									.caption {
										background: rgba(0,51,102,.5);
										bottom: 0;
										color: #fff;
										left: 0;
										padding: 20px 20px 10px 20px;
										position: absolute;
										width: 310px;
										h4 {
											font-size: 34px;
											margin: 0;
										}
										p {
											margin: 0;
										}
										a {
											color: #fff;
											float: right;
										}
									}
								}
							}
						}
					}
				}
				&#inpage-banner {
					overflow: hidden;
					padding: 0 0 0 35px;
					position: relative;
					img {
						width: 100%;
						&.corner-top {
							left: 35px;
							position: absolute;
							top: -1px;
							width: auto;
						}
						&.corner-bottom {
							position: absolute;
							right: 0;
							bottom: -1px;
							width: auto;
						}
					}
				}
				&#content {
					padding-right: 0;
					.col-sm-8 {
						padding-left: 20px;
						h2 {
							color: #792154;
							font-size: 34px;
							font-weight: 700;
							margin: 1.17647059em 0 .55882353em 0;
						}
						h3 {
							color: #003366;
							font-size: 21px;
							font-weight: 600;
							margin: 0 0 .8em 0;
						}
						p {
							margin: 0 0 2.30769231em 0;
						}
						p, li, a, span {
							font-family: Arial, Helvetica, sans-serif;
							font-size: 13px;
						}
						#tabs {
							background: #7993a8;
							-webkit-box-sizing: initial;
							box-sizing: initial;
							font-family: Arial, Helvetica, sans-serif;
							margin: 0 0 40px 0;
							padding: 15px;
							width: 617px;
							ul {
								margin: 0;
								padding: 0;
								li {
									font-size: 13px;
									list-style: none;
									text-transform: uppercase;
									a {
										background: #e4e9ee;
										color: #7993a8;
										line-height: 1em;
										padding: 0.84615385em 2.69230769em;
										@include transition(background .3s ease-in-out);
										&:hover {
											background: #dae0e6;
										}
										&.tabulous_active {
											color: #000 !important;
										}
									}
								}
							}
							#tabs_container {
								-webkit-box-sizing: initial;
								box-sizing: initial;
								padding: 40px 20px;
							}
						}
					}
					.col-sm-4 {
						padding: 63px 0 0 24px;
						.sidebar-nav {
							border-bottom: 1px solid #c9d1d1;
							margin-bottom: 30px;
							padding-bottom: 10px;
							ul {
								background: #e2e5e0;
								margin: 0;
								padding: 0;
								width: 215px;
								li {
									list-style: none;
									margin: 0;
									padding: .5em 0 0 0;
									a {
										background: #ced6d9;
										color: #003366;
										display: block;
										font-size: 16px;
										margin: 0;
										padding: .5em;
										text-align: left;
										@include transition(background .3s ease-in-out);
										&:hover {
											background: #c5cdd0;
											text-decoration: none;
										}
									}
								}
							}
						}
						a {
							background: #792154;
							color: #fff;
							display: block;
							font-size: 21px;
							margin-bottom: 25px;
							padding: 0.14285714em 0;
							text-align: center;
							@include transition(background .3s ease-in-out);
							&:hover {
								background: #681645;
								text-decoration: none;
							}
						}
					}
					.row {
						padding-left: 15px;
						.col-sm-6 {
							margin: 0 25px 20px 0;
							padding: 0;
							width: 311px;
							h3 {
								background: #944d75;
								color: #fff;
								font-size: 21px;
								font-weight: 400;
								margin: 0;
								padding: 10px 17px;
							}
							.content {
								background: #fff;
								height: 190px;
								padding: 22px 17px 12px 17px;
								p {
									margin-bottom: 1em;
								}
								ul {
									margin: 0;
									padding-left: 15px;
									li {
										margin-bottom: .8em;
									}
								}
							}
						}
					}
				}
				&#services {
					margin-bottom: 65px;
					.row {
						&.first-row {
							.col-sm-4 {
								border-right: 1px solid #e5e9f2;
								height: 150px;
								&.last {
									border-right: 0;
								}
							}
						}
						&.second-row {
							.col-sm-4 {
								border-right: 1px solid #fefcf5;
								height: 185px;
								padding-top: 35px;
								&.last {
									border-right: 0;
								}
							}
						}
						.col-sm-4 {
							padding: 0 25px 0 35px;
							width: 309px;
							h4 {
								color: #003366;
								font-size: 21px;
								font-weight: 600;
							}
							p {
								color: #445978;
								font-size: 13px;
							}
							a {
								bottom: 5px;
								left: 35px;
								position: absolute;
								img {
									@include opacity(.8);
									@include transition(opacity .3s ease-in-out);
									-webkit-backface-visibility: hidden;
								}
								&:hover {
									img {
										@include opacity(1);
									}
								}
							}
						}
					}
				}
				&#footer {
					font-family: Arial, Helvetica, sans-serif;
					.row {
						.col-md-2 {
							.row {
								margin-left: 0;
								.container-fluid {
									&.copyright {
										background: #7993a8;
										color: #fff;
										height: 202px;
										margin-top: 20px;
										padding-top: 20px;
										h6 {
											font-weight: 400;
											line-height: 1.8em;
										}
									}
									img {
										margin-top: 8px;
										margin-bottom: 15px;
										&.fdic {
											margin-right: 15px;
										}
									}
									a {
										color: #003366;
										font-family: $myriad;
										line-height: 1.3em;
										&:hover {
											text-decoration: none;
										}
									}
								}
							}
						}
						.col-md-10 {
							background: #792154;
							padding-bottom: 40px;
							ul {
								margin: 0;
								padding: 0;
								&.skipnav {
									margin-bottom: 29px;
									padding-left: 15px;
									li {
										border-left: 1px solid #873c6a;
										float: left;
										line-height: 1em;
										a {
											background-color: #792154;
											background-position: 10px bottom;
											background-repeat: no-repeat;
											color: #bc90aa;
											display: inline-block;
											font-size: 12px;
											padding: 36px 45px 0 31px;
											@include transition(background-color .3s ease-in-out);
											&:hover {
												background-color: #6f1a4b;
												text-decoration: none;
											}
											&.home {
												background-image: url(../img/skipnav-home.png);
											}
											&.sitemap {
												background-image: url(../img/skipnav-sitemap.png);
											}
											&.contact {
												background-image: url(../img/skipnav-contact.png);
												padding-right: 35px;
											}
										}
									}
								}
								li {
									font-size: 11px;
									list-style: none;
									margin-bottom: 10px;
									a {
										color: #b4c8d2;
										&:hover {
											text-decoration: none;
										}
									}
								}
							}
							a {
								&.back-to-top {
									position: absolute;
									right: 20px;
									top: 20px;
									img {
										@include opacity(.8);
										@include transition(opacity .3s ease-in-out);
										-webkit-backface-visibility: hidden;
										&:hover {
											@include opacity(1);
										}
									}
								}
							}
							h5 {
								font-family: $myriad;
								font-size: 16px;
								margin: 28px 0 20px 0;
								a {
									color: #fff;
									&:hover {
										text-decoration: none;
									}
								}
							}
						}
						.col-xs-12 {
							padding: 0 0 15px 0;
							text-align: center;
							h6 {
								margin: 0;
								padding: 1em 15px;
							}
							img {
								margin-right: 2em;
							}
							a {
								color: #003366;
								font-family: $myriad;
								line-height: 1.3em;
								margin-right: 2em;
								&:hover {
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 1100px) {
	html {
		body {
			#main-wrap {
				width: 100%;
			}
		}
	}
}

@media(max-width: $screen-lg-min) {
	html {
		body {
			#main-wrap {
				.container {
					&#nav {
						.navbar-default {
							.navbar-header {
								.navbar-brand {
									padding-left: 0;
									position: static;
								}
							}
						}
					}
					&#banner {
						.col-md-4 {
							padding-left: 0;
							.form {
								padding: 0 15px;
								.container-fluid {
									padding: 0 15px;
									input[type="submit"] {
										margin-bottom: 19px;
									}
								}
							}
						}
						.col-md-8 {
							padding: 0;
							.row {
								margin: 0;
								.cycle-slideshow {
									.slide {
										.caption {
											width: 323px;
										}
									}
								}
							}
						}
					}
					&#inpage-banner {
						padding-left: 15px;
						img {
							&.corner-top {
								left: 15px;
							}
						}
					}
					&#services {
						.row {
							.col-sm-4 {
								width: 323px;
							}
						}
					}
				}
			}
		}
	}	
}

@media(max-width: $screen-md-min) {
	html {
		body {
			background: #fff;
			#main-wrap {
				.container {
					&#routing {
						position: relative;
						h6 {
							text-align: left;
						}
						.contact {
							right: 15px;
							width: auto;
						}
					}
					&#nav {
						.navbar-default {
							.navbar-header {
								.navbar-brand {
									img {
										width: 200px;
									}
								}
							}
							.navbar-collapse {
								ul {
									padding-right: 0;
								}
							}
						}
					}
					&#banner {
						.col-md-4 {
							margin-bottom: 25px;
							padding: 0 15px;
							.form {
								.container-fluid {
									a {
										&.button {
											right: 15px;
										}
									}
								}
							}
						}
						.col-md-8 {
							padding: 0 15px;
							.row {
								margin: 0 -15px;
								padding: 0 15px;
								.cycle-slideshow {
									.slide {
										width: 100%;
									}
								}
							}
						}
					}
					&#inpage-banner {
						padding-right: 15px;
						img {
							&.corner-bottom {
								right: 15px;
							}
						}
					}
					&#content {
						padding-right: 15px;
						.col-sm-8 {
							padding: 0;
							#tabs {
								width: 450px;
								ul {
									li {
										a {
											padding: .84615em 1.5em;
										}
									}
								}
							}
						}
						.col-sm-4 {
							.sidebar-nav {
								ul {
									width: auto;
								}
							}
						}
						.row {
							.col-sm-6 {
								margin: 0 0 15px 0;
								padding: 0 15px 0 0;
								width: 50%;
								.content {
									border-bottom: 1px solid #ddd;
									border-left: 1px solid #ddd;
									border-right: 1px solid #ddd;
									height: 220px;
								}
							}
						}
					}
					&#services {
						.row {
							.col-sm-4 {
								padding: 0 15px;
								width: 33.33333%;
							}
						}
					}
					&#footer {
						width: 100%;
						.col-md-10 {
							margin: 0 auto;
							.skipnav, .row {
								margin: 0 auto;
								width: 750px;
							}
						}
					}
				}
			}
		}
	}	
}

@media(max-width: $screen-sm-min) {
	html {
		body {
			#main-wrap {
				.container {
					&#routing {
						margin-bottom: 15px;
						padding: 10px 0;
						h6 {
							font-size: 14px;
							line-height: 2em;
							text-align: center;
						}
						.contact {
							position: static;
							text-align: center;
							a {
								font-size: 14px;
								line-height: 2em;
							}
						}
					}
					&#nav {
						.navbar-default {
							.navbar-header {
								.navbar-brand {
									img {
										height: 50px;
										width: auto;
									}
								}
							}
							.navbar-collapse {
								border: 0;
								ul {
									li {
										a {
											padding: 10px 15px;
										}
									}
								}
							}
						}
					}
					&#banner {
						margin-bottom: 10px;
						.col-md-4 {
							margin-top: 25px;
						}
						.col-md-8 {
							.row {
								.cycle-slideshow {
									.slide {
										.caption {
											position: static;
											width: 100%;
										}
									}
								}
							}
						}
					}
					&#inpage-banner {
						margin-top: 25px;
					}
					&#content {
						.row {
							padding-right: 15px;
							.col-sm-6 {
								padding: 0;
								width: auto;
								.content {
									height: auto;
								}
							}
						}
						.col-sm-8 {
							#tabs {
								width: auto;
								ul {
									li {
										a {
											padding: .84615em 1em
										}
									}
								}
							}
						}
						.col-sm-4 {
							padding: 0;
							text-align: center;
							a {
								display: inline-block;
								padding: .14286em 1.5em;
							}
						}
					}
					&#services {
						.row {
							.col-sm-4 {
								border-bottom: 1px solid #e5e9f2;
								border-right: none !important;
								float: none;
								margin: 0 auto;
								height: auto !important;
								padding: 25px 15px !important;
								width: 95%;
								a {
									position: static;
								}
							}
						}
					}
					&#footer {
						text-align: center;
						.row {
							.col-md-10 {
								padding-bottom: 15px;
								.row, .skipnav {
									width: auto;
								}
								ul {
									margin-bottom: 25px;
									li {
										font-size: 12px;
									}
									&.skipnav {
										display: block;
										margin-bottom: 10px;
										text-align: center;
										li {
											display: inline-block;
											float: none;
											a {
												background: none !important;
												font-size: 13px;
												padding: 25px 10px 0 10px;
												&.contact {
													border-right: 1px solid #873c6a;
													padding-right: 10px;
												}
											}
										}
									}
								}
								a {
									&.back-to-top {
										display: inline-block;
										margin-bottom: 20px;
										position: static;
									}
								}
								h5 {
									border-top: 1px solid #873c6a;
									margin-top: 0;
									padding-top: 25px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: $screen-xs-min) {
	html {
		body {
			#main-wrap {
				.container {
					&#content {
						.col-sm-4 {
							.sidebar-nav {
								ul {
									li {
										a {
											text-align: center;
										}
									}
								}
							}
							a {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}